:root {
  --max-width: 72rem;
  --max-width-large: 128rem;

  --bg-color: #121212;
  --text-color: #f4f4f4;

  --gray: #171717;
  --gray-light: #202020;

  --box-gap: 4rem;
  --box-margin-bottom: 16rem;

  --gradient-right: linear-gradient(
    to right,
    #e763d6,
    #d06ee2,
    #b778ea,
    #9c80ef,
    #7f86f0,
    #6292f7,
    #409dfa,
    #00a7fa,
    #00b9fb,
    #00c9f4,
    #00d7e6
  );

  --gradient-top-right: linear-gradient(
    to top right,
    #e763d6,
    #d06ee2,
    #b778ea,
    #9c80ef,
    #7f86f0,
    #6292f7,
    #409dfa,
    #00a7fa,
    #00b9fb,
    #00c9f4,
    #00d7e6
  );

  --box-shadow-gray: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1),
    0 0.4rem 0.4rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1),
    0 0 0 0.1rem rgba(0, 0, 0, 0.1),
    inset 0 0 0 0.1rem rgba(255, 255, 255, 0.03),
    inset 0 0.1rem 0 rgba(255, 255, 255, 0.03);

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  margin: 0 2rem;
  font-size: 1.8rem;
  font-family: "Space Grotesk", sans-serif;

  font-style: normal;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.gradient-text {
  color: transparent;
  background-clip: text;
  background-image: var(--gradient-right);
}

.btn {
  all: unset;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 0.4rem;

  background: var(--gray);
  color: var(--text-color);

  height: 4rem;
  width: 16rem;
  cursor: pointer;

  transition: all 240ms linear;
  box-shadow: var(--box-shadow-gray);
}

.btn:hover {
  background-color: var(--gray-light);
}

/* Loading */

.loading {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1.6rem;
  height: 100vh;

  user-select: none;
}

.loading__spin {
  width: 2rem;
  padding: 2rem;

  border-radius: 100%;
  border: 0.5rem white solid;
  background-color: var(--bg-color);

  border-color: white white white transparent;
  animation: rotation 0.5s 0s linear infinite reverse;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: none;
  justify-items: center;

  margin: auto;
  max-width: var(--max-width-large);

  animation: fade-in 1.6s;

  /* border: solid blue 0.1rem; */
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(0.4rem);
  }
}

/* Header */

header {
  margin-top: 8rem;
  margin-bottom: var(--box-margin-bottom);

  user-select: none;
  /* border: solid 0.1rem red; */
}

.logo {
  font-weight: 700;
  font-size: 2.4rem;

  animation: moving 1.2s ease-in-out alternate infinite;
}

@keyframes moving {
  from {
    transform: translateY(-0.7rem);
  }
  to {
    transform: translateY(0.7rem);
  }
}

/* Hero */

.hero {
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: var(--box-gap);
  margin-bottom: var(--box-margin-bottom);

  user-select: none;

  /* border: solid 0.1rem red; */
}

.hero__headline {
  font-weight: 400;
  font-size: 6.4rem;

  text-align: center;
  line-height: 6.4rem;
}

.hero__text {
  text-align: center;
}

.hero__btns {
  gap: 0.8rem;
  display: flex;
}

.hero__btns a:first-of-type {
  background: var(--gradient-top-right);
}

.hero__btns a:first-of-type:hover {
  background: var(--gradient-right);
}

/* Productions */

.productions {
  max-width: var(--max-width-large);
  margin-bottom: var(--box-margin-bottom);

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  row-gap: 2rem;
  column-gap: var(--box-gap);

  user-select: none;
  pointer-events: none;

  animation: 2.4s slidein ease-in-out;

  /* border: solid 0.1rem red; */
}

.productions__image {
  height: 3.2rem;
  filter: brightness(50%);
}

@keyframes slidein {
  from {
    transform: translateY(20rem);
    filter: brightness(0%);
    scale: 150%;
  }
  to {
    transform: translateY(0);
    filter: brightness(100%);
    scale: 100%;
  }
}

/* Categories */

.categories {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: var(--box-gap);

  user-select: none;
  margin-bottom: var(--box-margin-bottom);

  /* border: solid 0.1rem red; */
}

.categories__title {
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--text-color);
}

.active {
  background-image: var(--gradient-top-right);
}

.active:hover {
  background-image: var(--gradient-right);
}

#categories__btns {
  display: flex;
  gap: 0.8rem;
}

.categories__elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 1.6rem;
  flex-wrap: wrap;
}

.filme {
  width: 100%;
  color: #ffffff;
  border-radius: 0.4rem;

  cursor: pointer;
  -webkit-user-drag: none;

  animation: fade-in-filmes 1.6s;
}

@keyframes fade-in-filmes {
  from {
    opacity: 10%;
  }
}

/* Modal */

dialog {
  margin: auto;
  padding: 2.4rem;

  width: 35rem;
  background-color: var(--bg-color);

  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-light);

  /* 
    background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(to right, #3d243a, #173335) border-box; 
  */
}

dialog > img {
  margin-bottom: 2.4rem;
}

dialog > p:first-of-type {
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
  font-weight: 600;
}

dialog > p {
  color: var(--text-color);
  text-align: center;
}

dialog > .btn {
  width: 100%;
  margin-top: 2.4rem;
}

/* Frase */

.frase {
  max-width: var(--max-width-large);
  margin-bottom: var(--box-margin-bottom);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 0.5rem;
  text-align: center;

  font-size: 1.6rem;
  color: var(--text-color);

  user-select: none;
}

.frase__filme {
  font-size: 1.4rem;
}

/* Footer */

footer {
  margin-bottom: 2.4rem;
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: 1.6rem;

  user-select: none;
}

footer a {
  color: var(--text-color);
  text-decoration: underline;
}
