:root {
  font-size: 62.5%;

  --box-gap: 4rem;
  --box-mb: 16rem;

  --back-color: #09090b;
  --text-color: #f4f4f4;

  --gray-color-1: #171717;
  --gray-color-2: #202020;
  --gray-color-3: #999999;

  --max-width-normal: 72rem;
  --max-width-large: 128rem;

  --gradient-right: linear-gradient(to right, #e763d6, #d06ee2, #b778ea, #9c80ef, #7f86f0, #6292f7, #409dfa, #00a7fa, #00b9fb, #00c9f4, #00d7e6);
  --gradient-top-right: linear-gradient(to top right, #e763d6, #d06ee2, #b778ea, #9c80ef, #7f86f0, #6292f7, #409dfa, #00a7fa, #00b9fb, #00c9f4, #00d7e6);
  --box-shadow-gray: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1), 0 0 0 0.1rem rgba(0, 0, 0, 0.1), inset 0 0 0 0.1rem rgba(255, 255, 255, 0.03), inset 0 0.1rem 0 rgba(255, 255, 255, 0.03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 2rem;

  font-size: 1.8rem;
  font-style: normal;
  font-family: 'Space Grotesk', sans-serif;

  color: var(--text-color);
  background-color: var(--back-color);
}

a {
  text-decoration: none;
}

.btn {
  all: unset;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.4rem;

  border-radius: 0.4rem;
  color: var(--text-color);
  background: var(--gray-color-1);
  box-shadow: var(--box-shadow-gray);

  height: 4rem;
  width: 16rem;
  cursor: pointer;
  transition: all 240ms linear;
}

.btn:hover {
  background-color: var(--gray-color-2);
}

.gradient-text {
  color: transparent;
  background-clip: text;
  background-image: var(--gradient-right);
}

/* Loading */

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 1.6rem;
  height: 100vh;
  user-select: none;
}

.loading__spin {
  width: 2rem;
  padding: 2rem;

  border-radius: 100%;
  border: 0.5rem white solid;
  background-color: var(--back-color);

  border-color: white white white transparent;
  animation: rotation 0.5s 0s linear infinite reverse;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: none;
  justify-items: center;

  margin: auto;
  animation: fade-in 1.6s;
  max-width: var(--max-width-large);
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(0.4rem);
  }
}

/* Header */

header {
  margin-top: 8rem;
  user-select: none;
  margin-bottom: var(--box-mb);
}

.logo {
  font-weight: 700;
  font-size: 2.4rem;
  animation: moving 1.2s ease-in-out alternate infinite;
}

@keyframes moving {
  from {
    transform: translateY(-0.7rem);
  }
  to {
    transform: translateY(0.7rem);
  }
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  user-select: none;
  gap: var(--box-gap);
  margin-bottom: var(--box-mb);
  max-width: var(--max-width-normal);
}

.hero__headline {
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
  line-height: 8rem;
}

.hero__text {
  font-size: 1.8rem;
  text-align: center;
}

.hero__btns {
  gap: 0.8rem;
  display: flex;
}

.hero__btns a:first-of-type {
  background: var(--gradient-top-right);
}

.hero__btns a:first-of-type:hover {
  background: var(--gradient-right);
}

/* Productions */

.productions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  user-select: none;
  pointer-events: none;

  row-gap: 2rem;
  column-gap: var(--box-gap);
  margin-bottom: var(--box-mb);
  max-width: var(--max-width-large);

  animation: 2.4s slidein ease-in-out;
}

.productions__image {
  height: 3.2rem;
  filter: brightness(50%);
}

@keyframes slidein {
  from {
    scale: 150%;
    filter: brightness(0%);
    transform: translateY(20rem);
  }
  to {
    scale: 100%;
    filter: brightness(100%);
    transform: translateY(0);
  }
}

/* Categories */

.categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  user-select: none;
  gap: var(--box-gap);
  margin-bottom: var(--box-mb);
}

.categories__title {
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--text-color);
}

.active {
  background-image: var(--gradient-top-right);
}

.active:hover {
  background-image: var(--gradient-right);
}

#categories__btns {
  gap: 0.8rem;
  display: flex;
}

.categories__elements {
  gap: 1.6rem;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filme {
  width: 100%;
  color: #ffffff;
  border-radius: 0.4rem;

  cursor: pointer;
  -webkit-user-drag: none;

  animation: fade-in-filmes 700ms ease-in-out;
}

@keyframes fade-in-filmes {
  from {
    opacity: 10%;
  }
}

.terror,
.suspense {
  transition: transform 700ms;
}

.terror:hover,
.suspense:hover {
  transform: scale(103%);
}

/* Modal */

dialog {
  margin: auto;
  width: 35rem;
  padding: 2.4rem;

  border-radius: 0.8rem;
  background-color: var(--back-color);
  border: 0.1rem solid var(--gray-color-2);
}

dialog > img {
  margin-bottom: 2.4rem;
}

dialog > p {
  text-align: left;
  color: var(--gray-color-3);
}

dialog > p:first-of-type {
  font-weight: 600;
  font-size: 3.2rem;
  color: var(--text-color);
}

dialog > p:nth-of-type(2) {
  margin-bottom: 2.4rem;
}

dialog > p:nth-of-type(3) {
  color: var(--text-color);
}

dialog > p:nth-of-type(4) {
  color: var(--gray-color-3);
  font-size: 1.6rem;
}

dialog > .btn {
  width: 100%;
  margin-top: 2.4rem;
}

/* Footer */

footer {
  font-weight: 400;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  user-select: none;
  margin-bottom: 2.4rem;
  max-width: var(--max-width-normal);
}

footer a {
  color: var(--text-color);
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  :root {
    --box-mb: 8rem;
    --box-gap: 2rem;
  }

  body {
    margin: 0 0.8rem;
  }

  .container {
    max-width: 78rem;
  }

  .hero__headline {
    max-width: 40rem;
    font-size: 4rem;
    line-height: 4rem;
  }

  .hero__text {
    max-width: 36rem;
  }

  .btn {
    width: 12rem;
    height: 3.2rem;
    font-size: 1.2rem;
  }

  .hero__btns {
    gap: 0.4rem;
  }

  #categories__btns {
    gap: 0.4rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .categories__title {
    font-weight: 400;
    font-size: 2.4rem;
  }

  .categories__elements {
    gap: 0.4rem;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    font-size: 1.2rem;
  }

  .productions__image {
    height: 2.4rem;
  }
}
